@import "./normalize.css";

:root {
  --color-primary: #23a6f0;
  --color-secondary: #252b42;
  --color-star: #f3cd03;
  --color-grey: #737373;
  --color-border: #dedede;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  font-size: 1.1rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.15rem;
}

h3 {
  font-size: 1.842rem;
}

h4 {
  font-size: 1.228rem;
  margin-bottom: 0.3rem;
}

p {
  margin-top: 0;
  font-size: 1rem;
}

/* Buttons */

.btn {
  outline: none;
  border-radius: 3;
  border: none;
  height: 3rem;
  color: white;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--bookapp {
  margin-top: 2rem;
  width: 23.8rem;
  height: 3.8rem;
  display: block;
}

.app1 > img {
  width: 100%;
  height: 100%;
}
/* Icon */

.icon {
  width: 4.5rem;
  height: 5.5rem;
}

.icon--company {
  width: 15rem;
  height: 5rem;
  margin: 20px;
}

/* Headings */
.heading {
  text-align: center;
  width: 75%;
  margin: auto;
}
@media (min-width: 768px) {
  .heading {
    text-align: center;
    width: 30%;
  }
}

/* Testimonials Section */
.industry {
  text-align: center;
  margin: auto;
}
.testimonial_block {
  border: 2px solid var(--color-border);
  width: 22rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.avatar {
  width: 11.4rem;
  height: 11.4rem;
  margin: 1rem;
}

.testimonial_block .list {
  width: 75%;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 0;
}

.rating {
  width: 1.6rem;
  height: 1.6rem;
}

.testimonial_block .purpose {
  width: 85%;
  text-align: center;
}

.grid {
  display: grid;
  grid-row-gap: 3rem;
}

@media screen and (min-width: 845px) {
  .grid--2x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item1 {
    grid-column: 1 / 4;
    margin: auto;
  }
  /* .grid--2x6 {
  } */
}

/* Features */

.feature_section {
  text-align: center;
}
.feature {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.feature h4 {
  margin: 0;
}

.feature_block {
  padding: 2rem;
  margin: 3rem;
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .feature {
    flex-direction: row;
  }
}

/* Subscribe */

.container {
  margin-top: 120px;
  margin-bottom: 120px;
}
.grid--1x7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subs {
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(215, 20, 137, 1) 0%,
    rgba(0, 71, 136, 1) 100%
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subs h3 {
  text-align: center;
  color: #fff;
}

.input-group {
  background-color: #fff;
  padding: 0.1rem 0.1rem 0.1rem 1rem;
  border-radius: 0.3rem;
}

.input {
  border: none;
  height: 3rem;
}
.respo-com {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.f1,
.f2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

@media screen and (min-width: 815px) {
  .subs {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
  }
  .subs > h3 {
    text-align: left;
    width: 250px;
    margin-left: 2%;
  }
  .input-group {
    margin-right: 2%;
  }
}

@media screen and (min-width: 768px) {
  .respo-com {
    flex-direction: row;
  }
  .f1,
  .f2 {
    flex-direction: row;
  }
}

/* Contact Us */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-head {
  text-align: left;
  width: 16rem;
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .contact {
    margin: auto;
    max-width: 680px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
/* Pricing */

.pricing {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.price-head {
  text-align: center;
}
.price-headline {
  width: 35rem;
  margin: auto;
  text-align: center;
}

/* Card */

.card {
  margin: 15px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25rem;
  height: 51rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--popular {
  background-color: var(--color-secondary);
  color: white;
  height: 54rem;
}

.lst-bullet {
  vertical-align: middle;
  padding: 2px;
  margin-right: 10px;
}
.card .btn {
  width: 60%;
  border-radius: 3px;
  text-align: center;
  line-height: 38px;
}

.card-list__item {
  display: block;
  margin: 3px;
}
.con {
  width: 120px;
  height: 120px;
}
.price-grid--2x2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px 50px;
  align-items: center;
}

.itemp1 {
  grid-row: 1 / span 2;
  font-size: 4.2rem;
  margin-bottom: 10px;
}
.itemp2 {
  font-size: 1rem;
}
.itemp3 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .card-flex {
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
  }
  .card--popular {
    margin-top: -20px;
  }
}

/* Book an Appointment */

.book_appointment {
  width: 100%;
  display: flex;
  justify-content: center;
}
.label {
  font-weight: 900;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.input-book {
  width: 23.8rem;
  height: 3.8rem;
  display: block;
}

.input-book::placeholder {
  padding-left: 8px;
}

.grid--2x1 {
  row-gap: 0rem;
  grid-template-rows: 20rem 53rem;
  grid-template-columns: 31.7rem;
  justify-items: center;
}

/* Branches */
.branches {
  width: 100%;
}

.branch {
  background-color: var(--color-secondary);
  height: 70vh;
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information > img {
  width: 70%;
  max-width: 31rem;
  max-height: 20rem;
}

.info {
  color: white;
  width: 70vw;
}

@media screen and (min-width: 768px) {
  .information {
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
  }

  .info {
    color: white;
    width: 40vw;
    padding: 10px;
  }
}
