<section class="brances">
    <div class="branch">
        <div class="information">
            <div class="info">
                <h2>We Have Branches All Over The World</h2>
                <p>The gradual accumulation of information about atomic and 
                    small-scale behaviour during the first quarter of the 20th 
                    century, which gave some indications about how small things 
                    do behave, produced an increasing confusion which was 
                    Heisenberg, and Born.</p>
            </div>
            <img src="images/map.png" alt="">
        </div>
    </div>
</section> 