<div class="testimonial_block">
    <img class="avatar" src="images/user1.png" alt="">
    <p class="purpose">Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
    <ul class="list">
        <li class="rating"><img src="images/Vector.svg" alt=""></li>
        <li class="rating"><img src="images/Vector.svg" alt=""></li>
        <li class="rating"><img src="images/Vector.svg" alt=""></li>
        <li class="rating"><img src="images/Vector.svg" alt=""></li>
        <li class="rating"><img src="images/Vector.svg" alt=""></li>
    </ul>
</div>