<div class="container">
    <div class="grid grid--1x7">
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#hooli"></use>
        </svg>
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#lyft"></use>
        </svg>
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#leaf"></use>
        </svg>
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#stripe"></use>
        </svg>
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#aws"></use>
        </svg>
        <svg class="icon icon--company">
            <use xlink:href="images/Insurebond.svg#reddit"></use>
        </svg>
        <div class="subs">
            <h3>Subscribe for Latest Newsletter</h3>
            <div class="input-group">
                <input type="text" class="input" placeholder="Your Email">
                <button class="btn btn--primary">Subscribe</button>
            </div>
        </div>
    </div>
</div>