<div class="feature_section">
    <div class="feature">
        <div class="feature_block">
            <svg class="icon">
                <use xlink:href="images/Insurebond.svg#book"></use>
              </svg>
            <h4>Peace of Mind</h4>
            <p>So it really behaves like neither.Now we have given up. </p>
        </div>
        <div class="feature_block">
            <svg class="icon">
                <use xlink:href="images/Insurebond.svg#bookmark"></use>
              </svg>
            <h4>Set For Life</h4>
            <p>They were used to create the machines that launched  </p>
        </div>
        <div class="feature_block">
            <svg class="icon">
                <use xlink:href="images/Insurebond.svg#person"></use>
              </svg>
            <h4>100% satisfaction</h4>
            <p>So it really behaves like neither.Now we have given up.</p>
        </div>
    </div>
</div>