<div class="feature_section_card">
    <div class="feature_block feature_block--small feature_block--small">
        <svg class="icon">
            <use xlink:href="images/Insurebond.svg#book"></use>
          </svg>
        <h4>Peace of Mind</h4>
        <p>So it really behaves like neither.Now we have given up. </p>
    </div>
    <div class="feature_block feature_block--small feature_block--small">
        <svg class="icon">
            <use xlink:href="images/Insurebond.svg#book"></use>
          </svg>
        <h4>Peace of Mind</h4>
        <p>So it really behaves like neither.Now we have given up. </p>
    </div>
    <div class="feature_block feature_block--small feature_block--small--primary">
            <img src="images/person-white.svg" class="icon">
        <h4>Peace of Mind</h4>
        <p>So it really behaves like neither.Now we have given up. </p>
    </div>            
</div>